.course-div{
    font-size:25px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 7px 29px 0px rgba(52, 52, 54, 0.5);
}
.course-title{
    font-size: 30px;
    color: orangered;
}
.course-cover{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}