.popular-div{
    font-size:25px;
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 7px 29px 0px rgba(52, 52, 54, 0.5);
}
.popular-div:hover{
    font-size:25px;
    background-color: white;
    color: orangered;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 7px 29px 0px rgba(52, 52, 54, 0.5);
}
