@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: orangered;
    color: white;
}
.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
    padding: 0 20px;
}
.option{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 5px;
}
.option{
    transition: all 0.3s ease 0s;
}
.option:hover{
    background-color: white;
    color: orangered;
    border-radius: 5px;
}

